@import "../../styles.css";

.leftBlock {
    position: absolute;
    width: 36%;
    height: 100%;
    background: #35A0EE;
    border-radius: 8px 0px 0px 8px;
}

.logo {
    display: inline;
    position: absolute;
    width: 248px;
    height: 16px;
    left: 60px;
    top: 5%;
}

.united {
    display: inline;
    max-height: 100%;
}

.properties {
    display: inline;
    max-height: 100%;
    
}

.lb-SqOut {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: 1/1;
    height: 3.11%;
    left: 70px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}
.lb-SqIn {
    aspect-ratio: 1/1;
    width: 50%;
    background: #FFFFFF;
    border-radius: 1px;
}
.lb-text {
    position: absolute;
    height: 24px;
    left: 110px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.5);
}
.tratt {
    position: absolute;
    aspect-ratio: 4/9;
    width: 0.6%;
    min-width: 2.5px;
    left: 77.5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.5px;
}

.UP {
    position: absolute;
    left: 80%;
    top: 77%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2.9vh;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
}
.lb-bottomsquare {
    position: absolute;
    width: 67%;
    height: 26.67%;
    left: 70px;
    top: 67.5%;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(3, 17, 6, 0.03);
    border-radius: 4px;
}
.lb-vector{
    position: absolute;
    width: 48%;
    height: 20%;
}
.lb-quotesquare{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: 1/1;
    width: 40px;
    left: 50px;
    top: 65%;
    background: #FFFFFF;
    box-shadow: 16px 12px 56px rgba(11, 29, 46, 0.15);
    border-radius: 3px;
    font-family: mon;
}
.lb-quotetext{
    position: absolute;
    padding-left: 10%;
    top: 15%;
    width: 77%;
    height: 40%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 1.5vh;
    letter-spacing: 0.02em;
    color: #A4AEB4;
}
.lb-quoteAuthor{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #07111B;
}
