@import "../../styles.css";

.leftBlock {
    position: absolute;
    width: 36%;
    height: 100%;
    background: #35A0EE;
    border-radius: 8px 0px 0px 8px;
}

.logo {
    display: inline;
    position: absolute;
    width: 248px;
    height: 16px;
    left: 60px;
    top: 5%;
}

.united {
    display: inline;
    max-height: 100%;
}

.properties {
    display: inline;
    max-height: 100%;
    
}

