@import "../../../styles.css";

.MuiSlider-thumb.MuiSlider-thumbColorPrimary{
    color: #35A0EE;
    border-radius: 1px;
}

.MuiSlider-mark.MuiSlider-mark{
    background-color: #A1AFB8;
    height: 12px;
    top:8px
}
.MuiSlider-mark.MuiSlider-markActive{
    background-color: #35A0EE;
    height: 12px;
    top: 8px;
}

.MuiSlider-markLabel.MuiSlider-markLabel{
    color: #A1AFB8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    
}

.MuiSlider-markLabel.MuiSlider-markLabelActive{
    color: #35A0EE;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}



.MuiSlider-track.MuiSlider-track{
    color: #35A0EE;
    height: 2px;
}
.MuiSlider-rail.MuiSlider-rail{
    color: #D5D9DC;
    height: 2px;
}



.sliderContainer{
    width: 85%
}

.radioPage2{
    display: flex;
    gap: 30px;
}

.radioLabel{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    width: 96px;
    height: 36px;
    letter-spacing: 0.02em;
    background: #FFFFFF;
    border: 1.5px solid #D5D9DC;
    color: #0B1D2E;
}
.radioLabel.active{
    background-color: #F7FBFF;
    border-color: #35A0EE;
    color: #35A0EE;
   
}
.activelabel{
    outline: none;
    color: #35A0EE;
}
.active{
    outline: none;
    border-bottom: 2px solid #35A0EE;
    background-color: #FFFFFF;
    caret-color: #35A0EE
}
select:focus {
    outline: none;
}
input:focus{
    outline: none;
}
:checked + label {
    color: #35A0EE;
    caret-color: #35A0EE;
}
