@import "../../styles.css";


.labels{
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #A4AEB4;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.02em;
    width: 85%;
}

.activelabel{
    outline: none;
    color: #35A0EE;
}

.email{
    padding: 0;
    border: 0;
    border-bottom: 2px solid #D5D9DC;
    font-weight: 600;
    font-size: 14px;
    color: #0B1D2E;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.02em;
    width: 85%;
}

.active{
    outline: none;
    border-bottom: 2px solid #35A0EE;
    background-color: #FFFFFF;
    caret-color: #35A0EE
}

input:focus{
    outline: none;
}