@import "../../styles.css";

.phoneNumber{
    border: 0;
    border-bottom: 2px solid #D5D9DC;
    font-weight: 600;
    font-size: 14px;
    color: #0B1D2E;
}

.phoneActive{
    outline: none;
    color: #35A0EE;
    border-bottom: 2px solid #35A0EE;
    background-color: #FFFFFF;
    caret-color: #35A0EE
}

.labels{
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #A4AEB4;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.02em;
    width: 85%;
}

.phonelabel{
    color: #35A0EE;
}


.flags{
    padding-bottom: 0.5px;
    width: 30px;
    border: 0;
}

.number{
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #0B1D2E;
    font-weight: 600;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.02em;
}

.activelabel{
    outline: none;
    color: #35A0EE;
}
select:focus {
    outline: none;
}
input:focus{
    outline: none;
}