body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(../public/montserrat-v25-latin-regular.woff);
    
  }
@font-face {
    font-family: Montserrat Alternates;
    src: url(../public/montserrat-alternates-v17-latin-regular.woff)
}
#root {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(240.64deg, rgba(38, 150, 232, 0.15) 0%, rgba(38, 150, 232, 0.4) 100%);
}
a {
    text-decoration: none;
    color:#35A0EE;
    cursor: pointer;
}

button{
    cursor: pointer;
}

